
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
:root{
--text: #fbfcfd;
--background: #fbfcfd;
--primary: #536cbc;
--secondary: #99abe2;
--accent: #5b7bdf;
--secundary-backgrounds: #f2f5f8;
--clr-texture-bg: #fafafa;
--clr-body-bg: rgba(229, 229, 247, 0.726);
}


html{
    scroll-behavior: smooth;
    scrollbar-color: #00b0d6 #1f2430;
    scroll-padding: 100px;
    height: 100%;
    width: 100%;
    margin: 0;
}

html button{
    cursor: pointer;
}

.material-symbols-outlined {
    padding: 0;
    margin: 0;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    /* background-color: var(--primary); */
    background-color: #1f2430;
}

/* body::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    background-image: url("/img/wave-haikei\ \(1\).svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

body::before{
    content: " ";
    z-index: -200;
    position: absolute;
    ////background-repeat: no-repeat;///
    width: 100%;
    height: 100%;
    top: 30%;
    left: 0;
    background-image: url("/img/2fondo.svg");
} */


/* body > * > *{
    border: 2px solid black;
}
body > *{
    border: 2px solid black;
} */

.navegation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-block: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: 400ms ease;
    box-sizing: border-box;
}

.notop{
    background-color: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.nav-items a{
    text-decoration: none;
    font-size:large;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text);
    transition: 300ms ease;
    min-width: 105px;
}

.nav-bar-items{
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.nav-bar-logo{
    display: fle;
    align-self: center;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.nav-items{
    padding: 5px;
    
}
.nav-items a{
position: relative;
}


.active-item a{
    color: white;
}

a::after{
position: absolute;
content: " ";
width: 100%;
height: 3px;
left: 0;
bottom: -3px;
transform: scale(0,1);
border-radius: 10px;
background-color: white;
transition: 350ms ease;
}
.active-item a::after{
transform: scale(1,1);
}
.nav-items:hover a::after{
    transform: scale(1,1);
}


/* .nav-items:hover a{
    color: var(--text);
    padding-inline: 10px;
    letter-spacing: 7px;
    
} */

.personal-info-card {
    display: flex;
    gap: 5vw;
    width: 90%;
    height: 100vh;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    color: white !important;
    /* background-color: var(--secundary-backgrounds); */
}

.down-icon span{
    /* content: url(/img/logo-2582747_1280.webp); */
    position: absolute;
    color: #00b0d6;
    top: 90vh;
    left: 50%;
    font-size: 4rem;
    animation: float 6s ease infinite;
}


.personal-info-photo img{
    aspect-ratio: 1/1;
    width: 100%;
    -webkit-box-shadow: 0px 0px 54px -14px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 54px -14px rgba(0,0,0,0.68);
        box-shadow: 0px 0px 54px -14px rgba(0,0,0,0.68);  
}


.personal-info-text p{
    text-align: left;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    font-weight: 300;
    margin:0;
    margin-top: 1.5rem;
}

.personal-info-text{
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    max-width: 27rem;
}

.info-card-buttons{
    display: flex;
    gap: 20px;
}

.info-card-buttons .first-child{
    border: 0;
    font-size: 1rem;
    max-width: 9rem;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background-color: #00b0d6;
    transition: 300ms ease;
    box-sizing: border-box;
}

.info-card-buttons .first-child:hover{
    background-color: transparent;
    outline: 1px solid #00b0d6;

}

.info-card-buttons .second-child{
    border: 0;
    font-size: 1rem;
    max-width: 9rem;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #00b0d6;
    color: var(--text);
    font-weight: 400;
    transition: 300ms ease;
    position: relative;
}

.info-card-buttons .second-child:hover{

    background-color: #00b0d6;
    color: white;

}

.personal-info-photo img{
    mask: url("/img/blob.svg") center/contain no-repeat;
    aspect-ratio: 1/1;
    max-height: 25rem;
    width: auto;

}


  
.personal-info-photo{
    filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.493));
    display: flex;
    align-items: center;
}

.skills-box{
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 100px; */
    width: 65%;
    padding: 2rem;
    background-color: #1f2328;
    box-sizing:border-box;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}

.semidonut-css{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

.semidonut-css img{
    object-fit:contain;
    aspect-ratio: 1/1;
    z-index: 999;
}


.semidonut-css p{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.semidonut-css::after{
    content: " ";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    border: 17px solid;
    border-color:#0d1717 #0d1717 var(--fill) var(--fill);
    border-radius: 50%;
    transform: rotate(calc(1deg * (-45 + var(--percentaje) * 1.8)));
    animation: rebota 1s ease-in;
}

.semidonut-css::before{
    content: " ";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    border: 25px solid;
    border-color:#0d1717 #0d1717 var(--fill) var(--fill);
    border-radius: 50%;
    transform: rotate(calc(1deg * (-45 + var(--percentaje) * 1.8)));
    opacity: 0.2;
    filter: blur(4px);
    animation: rebota 1s ease-in;
}

.donut-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.donut-text p{
    padding: 0.7rem;
    font-weight: 500;
    text-align: center;
    border: 1px solid var(--fill);
    border-radius: 5rem;
    min-width: 50%;
    color: var(--fill);
    transition: 500ms ease;
    
}

.donut-text p:hover{
    background-color: var(--fill);
    color: white;
    border: none;
}
.title-box{
    font-size: 2.5rem;
    margin-top: 10vw;
    color: var(--text);
}

.personal-info-text h1{
padding: 0;
margin: 0;
color: var(--text);
}
.personal-info-text h2{
    padding: 0;
    margin: 0;
    color: var(--secundary-backgrounds);
    font-size: 1.2rem;
    /* margin-bottom: 0.rem; */
    
    }
    #proyects{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
    }

    #proyects h2{
        color: white;
        font-size: 2.5rem;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 65%;
        background-color: transparent;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        padding-inline:2rem;
        box-sizing:border-box;
        background-color: #1f2328;
        color: white;
        gap: 3rem;
        padding-block: 2rem;
        margin: 0 auto;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    }
    .card-image img{
        width: 100%;
        height: auto;
        border-radius: 1rem;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .floating-icon{
        width: 30px;
        position: relative;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        display: none;
    }

    .floating-icon span{
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .floating-icon span:nth-child(1) {
        top: 0px;
      }
      
      .floating-icon span:nth-child(2),.floating-icon span:nth-child(3) {
        top: 9px;
      }
      
      .floating-icon span:nth-child(4) {
        top: 18px;
      }
      .floating-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      
      .floating-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      .floating-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      .floating-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

    .floating-nav-bar{
        display: none;
        position: absolute;
        background-color: black;
        top: 30px;
        right: 0;
        padding: 0;
        max-height: 0px;
        border-radius: 1rem;
        transition: 500ms ease;
        overflow: hidden;
        box-sizing:border-box;
    }
    .floating-nav-bar *{
        font-size: clamp(1.1rem, 1.6vw, 18px);
        text-decoration: none;
        color: white;
        margin-block: 0.7rem;

    }
    .floating-active{
        display: block;
    }
    .floating-active-transition{
        max-height: 200px;
        padding: 2rem;
    }
    .card-text-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .title {
        text-transform: uppercase;
        font-size: clamp(1.2rem, 2vw, 5rem);
        font-weight: 700;
    }
    .main-text {
        font-size: clamp(1.2rem, 1.15vw, 5rem);
        font-weight: 300;
        margin-top: 0.7rem;
        flex: 1;
    }
    .card-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }
    .card-bubles {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .card-bubles *{
        display: flex;
        font-size: clamp(0.8rem, 0.8vw, 5rem);
        justify-content: center;
        align-items: center;
        font-weight: 900;
        width: 3rem;
        border-radius: 4rem;
        padding-block: 0.4rem;
        padding-inline: 1.2rem;
        max-height: 2rem;
        height: 100%;
        outline: 2px solid white;
        outline-offset: -4px;
        transition: 300ms ease;
    }

    .card-bubles *:hover{
        transform: translateY(-7px);
    }
    .css {
        background-color: #379ad6;
    }
    .html {
        background-color: #e44d26;
    }
    .js {
        background-color: #69ae14;
    }
    .card-button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: black;
        font-size: clamp(0.5rem, 0.9vw, 5rem);
        border: 0;
        background-color: #00b0d6;
        color: white;
        border-radius: 2rem;
        padding-inline: 1.4rem;
        padding-block: 0.7rem;
        margin-left: auto;
        cursor:pointer;
    }

    .reverse-button{
        margin-left: auto;
    }

    .icon-animate{
        font-size: 1rem;
        display: flex;
        align-items: center;
        width: 0%;
        margin-right: 5px;
        overflow: hidden;
        animation: revers 500ms ease-in-out;
        
    }

    .card-button:hover .icon-animate{
        animation: ojo 500ms ease-in-out;
        animation-fill-mode: forwards;
    }

    .rrss-icons *{
        color: #00b0d6;
        font-size: 1.5rem;
        transition: 300ms ease;
    }

    .rrss-icons{
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    .rrss-icons *:hover{
        color: white;
    }

    .contact-card-computer{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 650px;
    }

    .contact-card-movile{
        display: none;
        flex-direction: column;
        align-items: center;
    }


    .floating-contact{
        height: 200px;
        overflow: hidden;
        color: white;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        gap: 30px;
        background-color: #1f2328;
        border-radius: 1rem;
        padding: 2rem;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        font-family: "Roboto", sans-serif;
        z-index: 50;
        width: 10rem;
        filter: grayscale(100); 
        animation: tarjetareverse 1s ease;
    }

    .floating-contact-movile{
        display: hidden;
        overflow: hidden;
        color: white;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: #1f2328;
        border-radius: 1rem;
        padding: 2rem;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        font-family: "Roboto", sans-serif;
        z-index: 50;
        animation: tarjetareverse 1s ease;
    }
    .floating-contact-movile a{
        color: white;
        text-decoration: none;
    }
    .floating-contact-movile img{
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        height: auto;
        object-fit: cover;
        width: 10rem;
    }

    .floating-contact:hover{
        animation: tarjeta 1s ease;
        animation-fill-mode: forwards;
    }

    .floating-contact a{
        color: white;
        text-decoration: none;
    }

    .contact-card{
        height: 650px;
    }

    .floating-contact p:hover a{
        color: #00b0d6;
    }
    .floating-contact > h2{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .floating-contact > p{
        margin-top: 0.7rem;
        font-size: 1rem;
    }

    .floating-contact img{
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
        height: auto;
        object-fit: cover;
        width: 10rem;
    }
    
@keyframes tarjeta {
        0%{
            filter: grayscale(100);
            height: 200px;


        }
        50% {
            height: 400px;
            filter: grayscale(0);
            width: 10rem;
        }
        80%{
        }

        100%{
            height: 400px;
            filter: grayscale(0);
            width: 700px;
            align-items: center;
        }
        
}

@keyframes tarjetareverse {
    0%{
        height: 400px;
        filter: grayscale(0);
        width: 700px;
        align-items: center;


    }
    50% {
        height: 400px;
        filter: grayscale(0);
        width: 10rem;
    }
    80%{
    }

    100%{
        
        filter: grayscale(100);
        height: 200px;
    }
    
}

@keyframes rebota {
	0% {
		transform: rotate(calc(1deg * (-45 + 0 * 1.8)));
	}
}

@keyframes ojo {
	from {
		width: 0px;
	}

    to {
        width: 100%;
        margin-left: 5px;
    }
}
@keyframes revers {
	from {
		width: 100%;
        margin-left: 5px;
	}

    to {
        width: 0%;
        
    }
}


@media(max-width: 1235px){
    .card{
        grid-template-columns: 1fr;
        width: 80%;
        
    }
    .card-image img{
            width: 100%;
    }
    .reverse{
        order: -1;
    }
    .skills-box{
        width: 80%;
    }

    #contacto{
        display: none!important;
    }
    .contact-card-movile{
        display:flex!important;
    }
}

@media(max-width: 651px){
    .floating-icon{
        display: block;
    }
    .nav-bar-items{
        display: none;
    }

    .down-icon{
        display: none;
    }
}

@media(max-width: 978px){
    .personal-info-card{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .personal-info-photo{
        order: -1;
    }
    .personal-info-photo img{
        max-height: 20rem;
    }
}

@-webkit-keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-15px);
      }
      100% {
        transform: translatey(0px);
      }
  }

  